<!DOCTYPE html>
{% extends "update_status/layout/base.html" %}
{% load static %}

{% block content %}
<title>
    {% block title %} Profile Page By {{author}} {% endblock %}
</title>
<header>
    {% include "dashboard/partials/navbar.html" %}
</header>
    <link rel="stylesheet" href="{% static 'css/profile_page.css' %}">
    <h1> PROFILE PAGE </h1>
    <div id="profile_picture">
        <img src="{{ photo }}" class="center">
    </div>
    <div id="name">
        {{ name }}
    </div>
    <div id="bio">
        <table align="center">
        <tr>
            <td id="subject">Birthday</td>
            <td id="value">{{ birthday }}</td>
        </tr>
        <tr>
            <td id="subject">Gender</td>
            <td id="value">{{ gender }}</td>
        </tr>
        <tr>
            <td id="subject">Expertise</td>
            <td id="value">{% for object in expertise %}
                <div class = "expertise">{{ object }}</div>
            {% endfor %}</td>

        </tr>
        <tr>
            <td id="subject">Description</td>
            <td id="value">{{ description }}</td>
        </tr>
        <tr>
            <td id="subject">Email</td>
            <td id="value">{{ email }}</td>
        </tr>
    </table>
    </div>

    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include 'dashboard/partials/footer.html' %}
        {% endblock %}
    </footer>
{% endblock %}