body{
    height: 100vh;
    margin-top: 8px;
    background: linear-gradient(141deg, #62186f 2%, #da5bd6 15%, #e46b0b 75% );  
  }

.item2 {
    background-color: white;
  }

  .navbar-default {
    background-color: #39b3d7;
    border-color: #8fe1f9;
  }
  .navbar-default .navbar-brand {
    color: #ffffff;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #dde6ea;
  }
  .navbar-default .navbar-text {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #dde6ea;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #dde6ea;
    background-color: #8fe1f9;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #dde6ea;
    background-color: #8fe1f9;
  }
  .navbar-default .navbar-toggle {
    border-color: #8fe1f9;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #8fe1f9;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ffffff;
  }
  .navbar-default .navbar-link {
    color: #ffffff;
  }
  .navbar-default .navbar-link:hover {
    color: #dde6ea;
  }
  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #dde6ea;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #dde6ea;
      background-color: #8fe1f9;
    }
  }

  /* FOOTER */
  footer{
    background-color: #39B3D7;
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     height: 35px;
     text-align: center;
     color: #CCC;
 }
 
 footer p {
     padding: 10.5px;
     margin: 0px;
     line-height: 100%;
 }

  h1 {
      margin-top: 80px;
      font-style: "Roboto";
      text-align: center;
      color: #fff;
      font-weight: bolder;
      
  }
  
  img {
    margin-top: 30px;
    height: 150px;
    width: 150px;


    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: dotted;
    border-color: #fff;

    opacity: 0.8
}

img:hover{
  border: dashed;
  border-color: #fff;
  opacity: 1.0;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;
}

#name{
    color: #fff;
    margin-top: 20px;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    font-family: "Roboto";
}
  
  table{
      margin-top: 10px;
      color: #fff;
  }
  
  table, tr, td#subject{
      padding: 5px;
      font-family: "Roboto";
  }
  
  table, tr, td#value{
      padding-left: 50px;
      font-family: "Roboto";
  }

  .expertise {
    border: double;
    border-color: #fff;
    border-radius: 30px;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 10px;
}

  .expertise:hover{
    background-color: #fff;
    color: #E0654E;
    border: double;
    border-color: #DD608F;
    
  }

  .flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .flex-item {
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  @media all and (min-width: 768px){
    .flex-item{
        flex-basis: 25%;
    }
  }
  
  @media all and (max-width: 767px){
    .flex-item{
        flex-basis: 100%;
    }
  }