body {
  margin-bottom: 100px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  height: 100vh;
  margin-top: 80px;
  background: linear-gradient(141deg, #62186f 2%, #da5bd6 15%, #e46b0b 75% );
}

.navbar-default {
  background-color: #39b3d7;
  border-color: #8fe1f9;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #dde6ea;
}
.navbar-default .navbar-text {
  color: #ffffff;
}

/* FOOTER */
footer{
  background-color: #39B3D7;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   height: 35px;
   text-align: center;
   color: #CCC;
}

footer p {
   padding: 10.5px;
   margin: 0px;
   line-height: 100%;
}

h1{
  text-align: center;
  margin-top: 80px;
}
.container-fluid h2{
  padding: 20px;
  text-align: center;
}

.row{
  text-align: center;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #dde6ea;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #dde6ea;
  background-color: #8fe1f9;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #dde6ea;
  background-color: #8fe1f9;
}
.navbar-default .navbar-toggle {
  border-color: #8fe1f9;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #8fe1f9;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #dde6ea;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #dde6ea;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #dde6ea;
    background-color: #8fe1f9;
  }
  #nama .col-sm-6 {
      padding-top: 0px;
    }

}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .flex-item {
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  @media all and (min-width: 768px){
    .flex-item{
        flex-basis: 25%;
    }
    #nama .col-sm-6 {
    padding-top: 30px;
    }
  }
  
  @media all and (max-width: 767px){
    .flex-item{
        flex-basis: 100%;
    }
    
  }

