
{% extends "addfriend/layout/base.html" %}

{% block content %}



<center>



<!-- 
<hr/>
<section name="bio">
    <h2>Bio</h2>
    <p>
        <strong><em> {{content}} </strong></em>
    </p>    
</section>
<hr/>
</center>
<section name="about_me">
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/> -->


<section name="form">
<center>
        <h1>Add Friend</h1>
        </center>
        <form id="form" method="POST" action="{% url 'addfriend:add_friend' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default"> ADD </button>
        </form>
    </section>



    
    <h1 id="juduladd"> Friend List </h1>

    
   
  
    <!-- batas -->


      <div class="flex">
            {% for i in message %}
            {% if i.name == 'Anonymous'%}
             <tr class="warning"> {% else %} <tr class="success">
                {% endif %}
                    <div class="flex-item">
                        <div class="to-do-list">
                            <div class="foto">
                               

                                <img src="http://www.qygjxz.com/data/out/190/5691490-profile-pictures.png" alt="this is my pict" class="img-circle" width = "70px">
                            </div>
                            <div class="nama">
                                {{i.name}}
                            </div>
                            <div class="link">
                                <a href="{{i.message}}"> {{i.message}} </a>
                            </div>

                            <div class="date">
                                {{i.created_date}}
                            </div>
                           
                        </div>
                    </div>
                {% endfor %}
           

 

    {% endblock %}
