body {
  margin: 0;
  background: lightpink;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #77ABD6;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  color: #F3E48E;
  font-size: 110%;
  font-weight: 300;
  float: left;
  padding: 6px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #F3E48E;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

nav a:hover {
  color: #DAF7A6;
}

nav a::before {
  content: '';
  display: black;
  height: 5px;
  background-color: #DAF7A6;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}