body {
  margin: 0;
  background: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
  margin: 0 auto;
}

header {
  background: #77ABD6;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  color: #F3E48E;
  font-size: 110%;
  font-weight: 300;
  float: left;
  padding: 10px 0;
}

header nav {
  float: right;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 10px;

  position: relative;
}

header nav a {
  color: #F3E48E;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

header nav a:hover {
  color: #DAF7A6;
}

header nav a::before {
  content: '';
  display: black;
  height: 5px;
  background-color: #DAF7A6;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

header nav a:hover::before {
  width: 100%;
}

/* FOOTER */
.container {
  width: 100%;
  margin: 0 auto;
}

footer {
  background: #77ABD6;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  text-align: center;
}

footer nav {
  float: left;
}

footer nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer nav li {
  color: #F3E48E;
  display: inline-block;
  margin-left: 70px;
  padding-top: 10px;

  position: relative;
}

h1{
  text-align: center;
}
.container-fluid h2{
  padding: 20px;
  text-align: center;
}

.row{
  text-align: center;
}