.item2 {
    background-color: white;
  }

  h1 {
      font-style: "Roboto";
      text-align: center;
      color: #fff;
      
  }
  
  img.center {
      margin-top: 30px;
      height: 150px;
      width: 150px;
  
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
  }
  
  #name{
      color: #fff;
      margin-top: 15px;
      font-weight: bolder;
      font-size: larger;
      text-align: center;
      font-family: "Roboto";
  }
  
  table{
      margin-top: 10px;
      color: #fff;
  }
  
  table, tr, td#subject{
      padding: 5px;
      font-family: "Roboto";
  }
  
  table, tr, td#value{
      padding-left: 50px;
      padding-right: 185px;
      font-family: "Roboto";
  }