.navbar-default {
  background-color: #39b3d7;
  border-color: #8fe1f9;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #dde6ea;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #dde6ea;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #dde6ea;
  background-color: #8fe1f9;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #dde6ea;
  background-color: #8fe1f9;
}
.navbar-default .navbar-toggle {
  border-color: #8fe1f9;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #8fe1f9;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #dde6ea;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #dde6ea;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #dde6ea;
    background-color: #8fe1f9;
  }
}

body{
  height: 100%;
  margin-top: 8px;
  background: linear-gradient(141deg, #62186f 2%, #da5bd6 15%, #e46b0b 75% );
  

}

.title {
  margin-top: 0px;
  height: 50px;
  background-color: white;
}

/* Custom navbar style */
.navbar-static-top {
margin-bottom: 19px;
}

.navbar-default .navbar-nav>li>a {
cursor: pointer;
}

/* Textarea not resizeable */
textarea {
resize:none
}


/* animasi pada title */
.main-title{
  margin-top: 60px;
-webkit-animation: colorchange 1s infinite;
-webkit-animation-direction: alternate;
text-align: center;
color : #fdfdfd;
text-shadow: 5px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
font : Roboto;
font-size: 50px;
}



/* styling wrapper form */
#input-list{
background: linear-gradient(to bottom right,#048091);
}

/* styling form */
#input-list form{
width: 300px;
margin: 50px auto;
text-align: center;
position: relative;
z-index: 1;
background: white;
border: 0 none;
border-radius: 3px;
box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
padding: 20px 30px;
box-sizing: border-box;
position: relative;
}

/* styling judul form, apakah arti dari tanda '>' ? */
#input-list form > h2{
font-size: 1.3em;
text-transform: uppercase;
color: #2C3E50;
margin-bottom: 10px;
font: Arvo;
}

/* styling form input dan textarea, apakah arti dari tanda ',' ? */
#input-list form > .todo-form-input, #input-list form > .todo-form-textarea{
padding: 15px;
border: 10px solid #ccc;
border-radius: 3px;
margin-bottom: 10px;
width: 100%;
box-sizing: border-box;
color: #2C3E50;
font-size: 12px;
}

/* styling footer */
footer p{
text-align: center;
padding-top: 50px;
}


#my-list .my-list-title{
font-size: 39px;
margin-bottom: 1em;
color: rgba(247, 255, 242, 0.93);
text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
text-align: center;
}

.to-do-list{
text-align: center;
background: #6eb7e2;
position: relative;
z-index: 10;
margin-bottom: 20px;
-webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
-o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
}

.to-do-list:hover {
box-shadow: 10px 10px 100px #865e8c;
-webkit-transform: translateY(-5px);
transform: translateY(-5px);
}

.to-do-list:after{
content:"";
display:block;
height:25px; /* Which is the padding of div.container */
background: #f9f8f8;
}



.to-do-list .to-do-list-title {
font-size: 20px;
font-weight: 700;
padding: 10px 10px 0;
}

.to-do-list .to-do-list-date-added {
font-size: 11px;
padding: 0 10px;
height:15px;
}

.to-do-list .to-do-list-description {
padding: 10px 25px;
z-index: 10;
background: #f9f4f4;
height: 50px;
text-align: justify;
overflow: auto;
}

.to-do-list .to-do-list-delete {
background: #e45;
color: #fff;
padding: 10px;
font-size: 16px;
width: 100%;
height: 50px;
bottom: 1px;
position: absolute;
cursor: pointer;
z-index: -1;
-webkit-border-radius: 0 0px 2px 2px;
-moz-border-radius: 0 0px 2px 2px;
-o-border-radius: 0 0px 2px 2px;
border-radius: 0 0px 2px 2px;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
