{% extends 'dashboard/layout/base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}
<h1>STATISTIC</h1>
<div class="container-fluid">
	 {% if name %}
	<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="col-sm-6 text-center">
        <img class="img-circle" src="http://78.media.tumblr.com/8fc11f08dc4e7a1ecf9de7d3a102a8c6/tumblr_oxioilcsKd1wdb06fo5_250.png" alt="xx" border="0">
      </div>
      <div class="col-sm-6 text-left" id="nama">
        <h1> {{ name }} </h1>
      </div>
    </div>
  		
	</div>
	<div class="row">
 		<div class="col-sm">
 			<h3>{{friend}} Friends</h3>
      		<h3>{{feed}} Feeds</h3>
		</div>
	</div>
	<div class="row">
		<h3>Latest Post :</h3>
      		<div class="status-list">
        		{% if latest_post %}
        		<div class="media-body">
            		<p>{{latest_post}}</p>
            	<div class="status-list-date-added">
                	Posted on {{latest_post_date}}
            	</div>
        		</div>
        {% else %}
          <p> no post yet </p>
        {% endif %}
 			</div>
 		</div>
	{% else %}
    	<h1>4O4</h1>
    	<h3>URL doesn't exist</h3>
  		{% endif %}
	</div>



{% endblock %}