{% extends "update_status/layout/base.html" %}

{% block content %}
<title>
    {% block title %} Update Status By {{author}} {% endblock %}
</title>
<h1 class="main-title">KILOGRAMS STATUS</h1>
<hr/>
<header>
        {% include 'dashboard/partials/navbar.html' %}
</header>
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'update-status:add_todo' %}">
            <h2>Whats Happening?</h2>
            {% csrf_token %}
            {{ todo_form }}
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Post">
            <br>
        </form>
    </div>
</section>
<section name="my-list" id="my-list">
    <div class="container">
        <h2 class="my-list-title">TIMELINE</h2>
        <div class="flex">
            {% if todo %}
                {% for data in todo reversed%}
                    <div class="flex-item">
                        <div class="to-do-list">
                            <img src= "{{photo}}"  style = "border-radius : 50px ; height : 50px;" alt="Mountain View" style="width:304px;height:228px;">
                            <div class="to-do-list-title">
                                {{name}}
                            </div>
                            <div class="to-do-list-date-added">
                                {{data.created_date}}
                            </div>
                            <div class="to-do-list-description">
                                {{data.description}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada data Todo.
            </div>
            {% endif %}
        </div>
    </div>

</section>
{% endblock %}        